#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.coin-container {
    display: flex;
}
.coin {
    width: 33%;
    transition: transform 0.5s ease;
}
.animate {
    animation: flip 0.5s infinite; /* Применяем анимацию "flip" */
}
@keyframes flip {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(180deg); }
    100% { transform: rotateY(0deg); }
}
.line {
    width: 80%;
}
.block-margin-bottom {
    margin-bottom: 20px;
}
.result {
    text-align: left;
    color: #4B3B2A;
}
.save {
    background-color:darkcyan;
    margin-right: 5px;
}
.deactivate {
    background-color: #4B3B2A;
}
