@font-face {
    font-family: 'Chine';
    src: url('./fonts/Takashimura.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1, h3 {
    font-family: 'Chine';
    color: #4B3B2A;
}
button {
    font-family: 'Chine';
    font-weight: bold;
    background-color: #C1272D;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 3%;
    margin-bottom: 5px;
}
button:focus,
button:focus-visible {
    outline: none;
}
@media screen and (min-width: 320px) {
    .logo {
        width: 60%;
    }
    h1 {
        font-size: 36px;
    }
    h3 {
        font-size: 36px;
    }
    p {
        font-size: 14px;
    }
    button {
        font-size: 16px;
    }
}
@media screen and (min-width: 360px) {
    .logo {
        width: 75%;
    }
    h1 {
        font-size: 45px;
    }
    h3 {
        font-size: 45px;
    }
    p {
        font-size: 16px;
    }
    button {
        font-size: 18px;
    }
}
@media screen and (min-width: 600px) {
    .logo {
        width: 90%;
    }
    h1 {
        font-size: 75px;
    }
    h3 {
        font-size: 55px;
    }
    p {
        font-size: 26px;
    }
    button {
        font-size: 28px;
    }
}

